@using DellaViaAutomation.Entities.Concreate
@{
    ViewBag.Title = "Home Page";
}

<button id="btnClick">Get Users</button>

<br />
<input type="text" id="txtname" placeholder="Ad" />
<br />
<input type="password" id="txtpassword" placeholder="Parola" />
<br />
<button id="btnlogin">Giris Yap</button> | <button id="btnlogout">Cikis Yap</button>
<br />
<label id="lblresult"></label>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnClick").click(function () {

                var token = $.parseJSON(localStorage.getItem("token"));
                if (token != null) {
                    var accesstoken = token.access_token;
                }
                else {
                    alert("Giris yapiniz");
                    return;
                }
                $.ajax({
                    url: "https://localhost:44396/api/Home/GetUsers",
                    type: "GET",
                    crossDomain: true,
                    dataType: "json",
                    headers: { "accept": "application/json", "content-type": "application/json", "authorization": "Bearer " +accesstoken },
                    success: function (result) {
                        alert(JSON.stringify(result));
                    },
                    error: function (xhr, status, error) {
                        alert("err - " + status + " - " + error);
                    }
                });
            });


            $("#btnlogin").click(function () {

                var username = $("#txtname").val();
                var password = $("#txtpassword").val();

                $.ajax({
                    url: "https://localhost:44396/token",
                    type: "POST",
                    crossDomain: true,
                    data: { "username": username, "password": password, "grant_type": "password" },
                    dataType: "json",
                    success: function (result) {
                        localStorage.setItem("token", JSON.stringify(result));
                        $("#lblresult").text(JSON.stringify(result));
                    },
                    error: function (xhr, status, error) {
                        alert("err - " + status + " - " + error);
                    }
                });
            });

            $("#btnlogout").click(function () {

                if (localStorage.getItem("token") != null) {
                    localStorage.removeItem("token");
                    $("#lblresult").text("Cikis yaptiniz");
                }
                else {
                    alert("zaten giris yapmamissiniz");
                }

            });
        });
    </script>
}